openapi: 3.0.3
info:
  title: 'M-PAD API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.sipanda.online'
tags:
  -
    name: Endpoints
    description: ''
paths:
  /api/opd/register:
    post:
      summary: 'Public OPD registration endpoint'
      operationId: publicOPDRegistrationEndpoint
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                opd_name:
                  type: string
                  description: 'OPD Data. Must not be greater than 255 characters.'
                  example: b
                opd_code:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: 'n'
                opd_address:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
                opd_phone:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: ngzmiyvdljnikhwa
                  nullable: true
                admin_name:
                  type: string
                  description: 'Admin User Data (will also be used as OPD email). Must not be greater than 255 characters.'
                  example: 'y'
                admin_email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: gilbert32@example.com
                admin_password:
                  type: string
                  description: ''
                  example: architecto
                admin_phone:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: ngzmiyvdljnikhwa
                  nullable: true
                logo:
                  type: string
                  format: binary
                  description: 'Must be a file. Must be an image. Must not be greater than 2048 kilobytes.'
                  nullable: true
              required:
                - opd_name
                - opd_code
                - admin_name
                - admin_email
                - admin_password
      security: []
  /api/login:
    post:
      summary: 'Login user and create token'
      operationId: loginUserAndCreateToken
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: gbailey@example.net
                password:
                  type: string
                  description: ''
                  example: architecto
              required:
                - email
                - password
      security: []
  /api/citizen/login:
    post:
      summary: 'Login citizen (taxpayer) using NIK and Password'
      operationId: loginCitizentaxpayerUsingNIKAndPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nik:
                  type: string
                  description: ''
                  example: architecto
                password:
                  type: string
                  description: ''
                  example: '|]|{+-'
              required:
                - nik
                - password
      security: []
  /api/citizen/register:
    post:
      summary: 'Register a new citizen (taxpayer)'
      operationId: registerANewCitizentaxpayer
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nik:
                  type: string
                  description: 'Must be 16 characters.'
                  example: bngzmiyvdljnikhw
                name:
                  type: string
                  description: ''
                  example: architecto
                opd_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the opds table.'
                  example: null
                  nullable: true
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: ']|{+-0pBNvYg'
                address:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
                phone:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
              required:
                - nik
                - name
                - password
      security: []
  /api/opds:
    get:
      summary: 'List all OPDs (super_admin only)'
      operationId: listAllOPDssuperAdminOnly
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 21
                      name: 'DInas tes'
                      code: DITEST
                      address: jalan
                      phone: 0401-2230123
                      email: a@b.com
                      logo_url: null
                      status: pending
                      is_active: true
                      created_at: '2026-03-11T02:19:22.000000Z'
                      updated_at: '2026-03-11T02:19:22.000000Z'
                      users:
                        -
                          id: 121
                          name: admin
                          email: a@b.com
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 21
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-11T02:19:23.000000Z'
                          updated_at: '2026-03-11T02:19:23.000000Z'
                    -
                      id: 20
                      name: 'Sekretariat DPRD Kota Baubau'
                      code: SETWAN
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: setwan@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:36.000000Z'
                      updated_at: '2026-02-17T06:54:36.000000Z'
                      users:
                        -
                          id: 19
                          name: 'Admin SETWAN'
                          email: setwan@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 20
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:37.000000Z'
                          updated_at: '2026-02-17T06:54:37.000000Z'
                    -
                      id: 18
                      name: 'Badan Penanggulangan Bencana Daerah'
                      code: BPBD
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: bpbd@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:35.000000Z'
                      updated_at: '2026-02-17T06:54:35.000000Z'
                      users:
                        -
                          id: 17
                          name: 'Admin BPBD'
                          email: bpbd@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 18
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:35.000000Z'
                          updated_at: '2026-02-17T06:54:35.000000Z'
                    -
                      id: 19
                      name: 'Sekretariat Daerah Kota Baubau'
                      code: SETDA
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: setda@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:35.000000Z'
                      updated_at: '2026-02-17T06:54:35.000000Z'
                      users:
                        -
                          id: 18
                          name: 'Admin SETDA'
                          email: setda@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 19
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:36.000000Z'
                          updated_at: '2026-02-17T06:54:36.000000Z'
                    -
                      id: 17
                      name: 'Badan Kesatuan Bangsa dan Politik'
                      code: KESBANGPOL
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: kesbangpol@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:34.000000Z'
                      updated_at: '2026-02-17T06:54:34.000000Z'
                      users:
                        -
                          id: 16
                          name: 'Admin KESBANGPOL'
                          email: kesbangpol@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 17
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:34.000000Z'
                          updated_at: '2026-02-17T06:54:34.000000Z'
                    -
                      id: 16
                      name: 'Dinas Pariwisata dan Kebudayaan'
                      code: PARIWISATA
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: pariwisata@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:33.000000Z'
                      updated_at: '2026-02-17T06:54:33.000000Z'
                      users:
                        -
                          id: 15
                          name: 'Admin PARIWISATA'
                          email: pariwisata@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 16
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:34.000000Z'
                          updated_at: '2026-02-17T06:54:34.000000Z'
                    -
                      id: 15
                      name: 'Dinas Sosial dan Tenaga Kerja'
                      code: DINAS_SOSIAL
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: dinas_sosial@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:32.000000Z'
                      updated_at: '2026-02-17T06:54:32.000000Z'
                      users:
                        -
                          id: 14
                          name: 'Admin DINAS_SOSIAL'
                          email: dinas_sosial@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 15
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:33.000000Z'
                          updated_at: '2026-02-17T06:54:33.000000Z'
                    -
                      id: 14
                      name: 'Satuan Polisi Pamong Praja (Satpol PP)'
                      code: SATPOL_PP
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: satpol_pp@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:31.000000Z'
                      updated_at: '2026-02-17T06:54:31.000000Z'
                      users:
                        -
                          id: 13
                          name: 'Admin SATPOL_PP'
                          email: satpol_pp@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 14
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:32.000000Z'
                          updated_at: '2026-02-17T06:54:32.000000Z'
                    -
                      id: 13
                      name: 'Dinas Pemadam Kebakaran dan Penyelamatan'
                      code: DAMKAR
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: damkar@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:30.000000Z'
                      updated_at: '2026-02-17T06:54:30.000000Z'
                      users:
                        -
                          id: 12
                          name: 'Admin DAMKAR'
                          email: damkar@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 13
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:31.000000Z'
                          updated_at: '2026-02-17T06:54:31.000000Z'
                    -
                      id: 12
                      name: 'Dinas Kependudukan dan Pencatatan Sipil'
                      code: DUKCAPIL
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: dukcapil@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:29.000000Z'
                      updated_at: '2026-02-17T06:54:29.000000Z'
                      users:
                        -
                          id: 11
                          name: 'Admin DUKCAPIL'
                          email: dukcapil@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 12
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:30.000000Z'
                          updated_at: '2026-02-17T06:54:30.000000Z'
                    -
                      id: 11
                      name: 'Dinas Perumahan, Kawasan Permukiman dan Pertanahan'
                      code: PERKIM
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: perkim@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:28.000000Z'
                      updated_at: '2026-02-17T06:54:28.000000Z'
                      users:
                        -
                          id: 10
                          name: 'Admin PERKIM'
                          email: perkim@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 11
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:29.000000Z'
                          updated_at: '2026-02-17T06:54:29.000000Z'
                    -
                      id: 10
                      name: 'Dinas Perikanan'
                      code: DINAS_PERIKANAN
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: dinas_perikanan@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:27.000000Z'
                      updated_at: '2026-02-17T06:54:27.000000Z'
                      users:
                        -
                          id: 9
                          name: 'Admin DINAS_PERIKANAN'
                          email: dinas_perikanan@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 10
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:28.000000Z'
                          updated_at: '2026-02-17T06:54:28.000000Z'
                    -
                      id: 9
                      name: 'Dinas Pekerjaan Umum dan Penataan Ruang'
                      code: PUPR
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: pupr@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:26.000000Z'
                      updated_at: '2026-02-17T06:54:26.000000Z'
                      users:
                        -
                          id: 8
                          name: 'Admin PUPR'
                          email: pupr@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 9
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:27.000000Z'
                          updated_at: '2026-02-17T06:54:27.000000Z'
                    -
                      id: 7
                      name: 'Dinas Penanaman Modal dan Pelayanan Terpadu Satu Pintu'
                      code: DPMPTSP
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: dpmptsp@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:25.000000Z'
                      updated_at: '2026-02-17T06:54:25.000000Z'
                      users:
                        -
                          id: 6
                          name: 'Admin DPMPTSP'
                          email: dpmptsp@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 7
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:25.000000Z'
                          updated_at: '2026-02-17T06:54:25.000000Z'
                    -
                      id: 8
                      name: 'Badan Perencanaan Pembangunan dan Riset Daerah'
                      code: BAPPERIDA
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: bapperida@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:25.000000Z'
                      updated_at: '2026-02-17T06:54:25.000000Z'
                      users:
                        -
                          id: 7
                          name: 'Admin BAPPERIDA'
                          email: bapperida@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 8
                          latitude: '-5.46993398'
                          longitude: '122.63203430'
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:26.000000Z'
                          updated_at: '2026-04-09T18:53:47.000000Z'
                    -
                      id: 6
                      name: 'Dinas Komunikasi dan Informatika'
                      code: DISKOMINFO
                      address: 'Jl. Balai Kota No. 1, Bau-Bau'
                      phone: null
                      email: diskominfo@baubaukota.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:24.000000Z'
                      updated_at: '2026-02-17T06:54:24.000000Z'
                      users:
                        -
                          id: 5
                          name: 'Admin DISKOMINFO'
                          email: diskominfo@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 6
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:24.000000Z'
                          updated_at: '2026-02-17T06:54:24.000000Z'
                    -
                      id: 4
                      name: 'Dinas Lingkungan Hidup'
                      code: DLH
                      address: 'Jl. Hijau No. 3'
                      phone: 0401-111222
                      email: dlh@baubau.go.id
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:23.000000Z'
                      updated_at: '2026-02-17T19:30:21.000000Z'
                      users:
                        -
                          id: 3
                          name: 'Admin DLH'
                          email: dlh@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 4
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:23.000000Z'
                          updated_at: '2026-02-17T06:54:23.000000Z'
                        -
                          id: 88
                          name: 'Admin DLH'
                          email: dlh@retribusi.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 4
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T19:30:22.000000Z'
                          updated_at: '2026-02-18T03:45:42.000000Z'
                    -
                      id: 5
                      name: 'Badan Pendapatan Daerah'
                      code: BAPENDA
                      address: 'Kota Baubau'
                      phone: 0401-999888
                      email: rahimssos9@gmail.com
                      logo_url: null
                      status: approved
                      is_active: true
                      created_at: '2026-02-17T06:54:23.000000Z'
                      updated_at: '2026-04-12T11:08:18.000000Z'
                      users:
                        -
                          id: 4
                          name: 'Admin BAPENDA'
                          email: bapenda@baubaukota.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: '-5.46211442'
                          longitude: '122.60406470'
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T06:54:24.000000Z'
                          updated_at: '2026-04-28T13:21:12.000000Z'
                        -
                          id: 20
                          name: 'Petugas Demo'
                          email: petugas@demo.id
                          nik: '7301010101010001'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T07:02:06.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 22
                          name: 'Admin BAPENDA'
                          email: admin@bapenda.go.id
                          nik: null
                          role: opd
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T07:14:16.000000Z'
                          updated_at: '2026-02-17T07:14:16.000000Z'
                        -
                          id: 23
                          name: 'Kabid Pengawas'
                          email: kabid@retribusi.id
                          nik: '9999999999999901'
                          role: kabid_pengawas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: '-5.46998950'
                          longitude: '122.63201195'
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T07:14:16.000000Z'
                          updated_at: '2026-04-11T14:31:44.000000Z'
                        -
                          id: 24
                          name: 'Kasubid Pengawas'
                          email: kasubid@retribusi.id
                          nik: '9999999999999902'
                          role: kasubid_pengawas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T07:14:16.000000Z'
                          updated_at: '2026-02-25T19:58:43.000000Z'
                        -
                          id: 56
                          name: 'Petugas BAPENDA'
                          email: petugas@bapenda.go.id
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: '-5.47010100'
                          longitude: '122.63191750'
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-30T03:52:06.000000Z'
                        -
                          id: 57
                          name: 'MUHAMAD YUSUF, SE.M.Si'
                          email: yusufboy147@gmail.com
                          nik: null
                          role: pengawas
                          phone: '0853 4133 3475'
                          address: null
                          opd_id: 5
                          latitude: '-5.46178290'
                          longitude: '122.60434722'
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-29T01:12:30.000000Z'
                        -
                          id: 58
                          name: 'ZULKIFLI, ST'
                          email: lajuju.83@gmail.com
                          nik: '198302262010011011'
                          role: pengawas
                          phone: '0812 4588 3431'
                          address: null
                          opd_id: 5
                          latitude: '-5.17070000'
                          longitude: '119.44250000'
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-03-05T17:50:53.000000Z'
                        -
                          id: 59
                          name: 'WA ODE ARNI ACHLAN, S.Sos'
                          email: arni.syan@gmail.com
                          nik: null
                          role: petugas
                          phone: '0812 7721 1409'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 60
                          name: 'BAUDI MUHBAR, S.Sos'
                          email: bmuhbar@gmail.com
                          nik: null
                          role: petugas
                          phone: '0823 1762 7126'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 61
                          name: 'LA ODE ARIFUDDIN, S.IP'
                          email: laodearifuddin.dispenda@gmail.com
                          nik: null
                          role: pengawas
                          phone: '0852 4152 4447'
                          address: null
                          opd_id: 5
                          latitude: '-5.48700330'
                          longitude: '122.58356500'
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-03-09T02:48:18.000000Z'
                        -
                          id: 62
                          name: HASMIN
                          email: mheymey748@gmail.com
                          nik: null
                          role: petugas
                          phone: '0852 4111 1942'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 63
                          name: 'SYAMSU RIZAL DG NGAWING'
                          email: rijaldaeng2@gmail.com
                          nik: null
                          role: petugas
                          phone: '0853 9813 1211'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 64
                          name: 'ANDI SUWARNO SAPUTRA. SE.MM'
                          email: andisuwarno999@gmail.com
                          nik: null
                          role: pengawas
                          phone: '0852 5505 0999'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-02-27T02:26:12.000000Z'
                        -
                          id: 65
                          name: 'HASAN, S.IP'
                          email: hasanbaubau60@gmail.com
                          nik: null
                          role: petugas
                          phone: '0852 1224 0864'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 66
                          name: 'LA ODE MUHAMAD SACHYUN'
                          email: lmsachyun8@gmail.com
                          nik: null
                          role: petugas
                          phone: '0852 5628 9173'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 67
                          name: 'LA ODE MUHAMAD RUSTAM'
                          email: rustamode007@gmail.com
                          nik: null
                          role: petugas
                          phone: '0852 7217 3910'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 68
                          name: LENY
                          email: leny25720@gmail.com
                          nik: null
                          role: petugas
                          phone: '0821 5677 3113'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 69
                          name: 'LA MEDO'
                          email: medohibu@gmail.com
                          nik: null
                          role: petugas
                          phone: '0852 3242 9803'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 70
                          name: FAIDAH
                          email: idhadarwis123@gmail.com
                          nik: null
                          role: petugas
                          phone: '0822 9219 7755'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 71
                          name: 'NELLY NATALIA'
                          email: suhadynelly@gmail.com
                          nik: null
                          role: petugas
                          phone: '0852 4277 9807'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 72
                          name: 'NURSID PAMBO, SH'
                          email: nursidpambo@gmail.com
                          nik: null
                          role: petugas
                          phone: '0821 8933 0216'
                          address: null
                          opd_id: 5
                          latitude: '-5.48704110'
                          longitude: '122.58353240'
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-15T03:08:03.000000Z'
                        -
                          id: 73
                          name: 'MEGAYANTI, Amd.Komp'
                          email: megay378@gmail.com
                          nik: null
                          role: petugas
                          phone: '0823 4911 7921'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 74
                          name: 'LA ODE TAMSIR'
                          email: laodetamsir79@gmail.com
                          nik: null
                          role: petugas
                          phone: '0821 4249 7798'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 75
                          name: 'WA ODE INDA FARIDA A'
                          email: waodewaodeindahfarida@gmail.com
                          nik: null
                          role: petugas
                          phone: '0822 5157 0743'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 76
                          name: 'NURLINA, Amd'
                          email: lnur49026@gmail.com
                          nik: null
                          role: petugas
                          phone: '0813 7716 8669'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 77
                          name: 'DESY SUCI AMALIA'
                          email: desysuciamalia860@gmail.com
                          nik: null
                          role: petugas
                          phone: '0821 9632 0623'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 78
                          name: 'MASLUDDIN, ST'
                          email: masluddinc89@gmail.com
                          nik: null
                          role: petugas
                          phone: '0822 6118 1095'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 79
                          name: 'NUR AGUSTINA SAIZAL'
                          email: agustinanur960@gmail.com
                          nik: null
                          role: petugas
                          phone: '0838 4238 5784'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 80
                          name: 'GALANG RINALDY'
                          email: rinalg166@gmail.com
                          nik: null
                          role: petugas
                          phone: '0822 1124 3732'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 81
                          name: 'RAHMADANI, S.Ak'
                          email: rrahmadani374@gmail.com
                          nik: null
                          role: petugas
                          phone: '0823 9414 9621'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 82
                          name: 'PUTRI ASTRI ASTUTI'
                          email: putriastriastutiputribadawi@gmail.com
                          nik: null
                          role: petugas
                          phone: '0877 1434 7447'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 83
                          name: 'MUHAMMAD DELON UBAIDILLAH'
                          email: muhammaddelon90@gmail.com
                          nik: null
                          role: petugas
                          phone: '0821 3775 0642'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 84
                          name: 'Ismail Hasan'
                          email: ismailbuw@gmail.com
                          nik: '1982090520090310'
                          role: verifikator
                          phone: '082111861982'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-17T18:25:02.000000Z'
                          updated_at: '2026-02-17T18:25:02.000000Z'
                        -
                          id: 90
                          name: 'Petugas Patroli'
                          email: petugasrbac@test.com
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-26T15:00:27.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 92
                          name: 'Petugas Negatif'
                          email: petugas.negatif@test.com
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-26T15:00:29.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 93
                          name: 'Leni Astina'
                          email: lenia@bapenda.go.id
                          nik: '-'
                          role: petugas
                          phone: '082193170897'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T01:30:42.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 94
                          name: Suwarti
                          email: suwartibaubau@gmail.com
                          nik: null
                          role: petugas
                          phone: '082311800477'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T01:32:23.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 95
                          name: 'LA ODE YUSRON'
                          email: laodeyusron29@gmail.com
                          nik: null
                          role: petugas
                          phone: '085235422779'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: []
                          email_verified_at: null
                          created_at: '2026-02-27T01:34:13.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 96
                          name: 'MUHAMAD IHSAN ARIS'
                          email: muh.ihsanaris@gmail.com
                          nik: null
                          role: petugas
                          phone: '082194063410'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T01:35:52.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 97
                          name: 'MUH. IKHSAN HUSNI'
                          email: ikhsan.lpz@gmail.com
                          nik: null
                          role: petugas
                          phone: '082259863236'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T01:36:58.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 98
                          name: 'TRIFA KUSMAWATI'
                          email: antitrifa@gmail.com
                          nik: null
                          role: petugas
                          phone: '082187291098'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T01:38:09.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 99
                          name: Jumawati
                          email: jumawati217@gmail.com
                          nik: null
                          role: petugas
                          phone: '082312957575'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T01:50:18.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 100
                          name: 'WA ODE MASRINA'
                          email: waodemasrina5@gmail.com
                          nik: null
                          role: petugas
                          phone: '085352650351'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T01:51:13.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 101
                          name: MAHYUDI
                          email: yudhi.mahyudi4@gmail.com
                          nik: null
                          role: petugas
                          phone: '082199469294'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata:
                            avatar_url: 'https://res.cloudinary.com/ddhgtgsed/image/upload/v1772157467/avatars/users/ppuecifzyudtwplx16wv.jpg'
                          email_verified_at: null
                          created_at: '2026-02-27T01:53:49.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 102
                          name: 'AGUSTINA BALI'
                          email: baliagustina@gmail.com
                          nik: null
                          role: petugas
                          phone: '085241524990'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T02:04:30.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 103
                          name: ZURNAINI
                          email: zurnainihaeri@gmail.com
                          nik: null
                          role: petugas
                          phone: '081341728256'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T02:04:59.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 104
                          name: ASNINA
                          email: nn0808503@gmail.com
                          nik: null
                          role: petugas
                          phone: '082348083809'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T02:05:36.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 105
                          name: 'WAODE SAMIRAH'
                          email: waodesxmirah578@gmail.com
                          nik: null
                          role: petugas
                          phone: '082188106769'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T02:06:32.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 106
                          name: 'MERRY KORENGKENG'
                          email: merrykorengkeng76@gmail.com
                          nik: null
                          role: petugas
                          phone: '082348097302'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-02-27T02:07:03.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 107
                          name: 'IRMAWATI MIMI'
                          email: irmawaticumimi@gmail.com
                          nik: null
                          role: petugas
                          phone: '082296104074'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-02T05:23:06.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 109
                          name: 'muhammad adnan pratama'
                          email: adnanfarhaz59@gmail.com
                          nik: null
                          role: petugas
                          phone: '082174013357'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-02T06:08:05.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 110
                          name: 'Hasriyani Sadiri, S.Kom., M.Si'
                          email: hyanie735@gmail.com
                          nik: '19830519 201001 2 013'
                          role: opd
                          phone: '087796754433'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-02T06:24:04.000000Z'
                          updated_at: '2026-03-02T06:24:40.000000Z'
                        -
                          id: 111
                          name: 'Suharwan Maulana Armin'
                          email: wawances25@gmail.com
                          nik: '19960802 201808 1002'
                          role: opd
                          phone: '082126144168'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-02T06:27:21.000000Z'
                          updated_at: '2026-03-02T06:27:40.000000Z'
                        -
                          id: 112
                          name: Zulkifli
                          email: zulkifli.bapenda@baubaukota.go.id
                          nik: null
                          role: pengawas
                          phone: '081245883431'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-03T02:00:42.000000Z'
                          updated_at: '2026-03-03T02:00:42.000000Z'
                        -
                          id: 113
                          name: 'Syamsu Rijal'
                          email: syamsurijal@bapenda.id
                          nik: null
                          role: pengawas
                          phone: '085398131211'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-03T02:11:30.000000Z'
                          updated_at: '2026-03-03T02:16:38.000000Z'
                        -
                          id: 114
                          name: 'Syamsul Arafat'
                          email: syamsuarafat675@gmail.com
                          nik: null
                          role: petugas
                          phone: '082191999274'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-03T02:29:58.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 115
                          name: 'Muhammad Lisanuddin'
                          email: lisanuddin1974@gmail.com
                          nik: null
                          role: opd
                          phone: '081242081775'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-03T02:45:37.000000Z'
                          updated_at: '2026-03-03T02:46:11.000000Z'
                        -
                          id: 116
                          name: 'Syafril Mane'
                          email: syafrilmanzay78@gmail.com
                          nik: null
                          role: petugas
                          phone: '085240064544'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-03T03:13:01.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 117
                          name: Maslin
                          email: maslinlaode@gmail.com
                          nik: null
                          role: petugas
                          phone: '081261270414'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-03T03:14:28.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 118
                          name: Rahim
                          email: rahimssos9@gmail.com
                          nik: null
                          role: opd
                          phone: '081356548699'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-03T03:24:06.000000Z'
                          updated_at: '2026-03-03T03:25:27.000000Z'
                        -
                          id: 120
                          name: 'WAODE JAWARIAH'
                          email: waodejawariah@gmail.com
                          nik: '7472026905700001'
                          role: petugas
                          phone: '081341712069'
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-03-09T02:00:43.000000Z'
                          updated_at: '2026-04-09T06:28:38.000000Z'
                        -
                          id: 122
                          name: 'User Pelayanan'
                          email: pelayananpatda@mpad.online
                          nik: '123000000001'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 123
                          name: 'User Penetapan'
                          email: penetapanpatda@mpad.online
                          nik: '123000000003'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 124
                          name: 'User Verifikasi'
                          email: verifikasipatda@mpad.online
                          nik: '123000000004'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 125
                          name: 'User Penagihan'
                          email: penagihanpatda@mpad.online
                          nik: '123000000005'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 126
                          name: 'User Monitoring'
                          email: monitoringpatda@mpad.online
                          nik: '123000000006'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 127
                          name: 'ilham jaya'
                          email: ilham@mpad.online
                          nik: '1897867676879898'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 128
                          name: gigi
                          email: gigi@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 129
                          name: 'H.Jusmin Anwar , SE'
                          email: h_jusmin_anwar@mpad.online
                          nik: '197104011991031007'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 130
                          name: indah
                          email: indahh@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 131
                          name: syarif
                          email: syarif@mpad.online
                          nik: '198303102007011005'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 132
                          name: Indah
                          email: penetapan@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 133
                          name: .
                          email: bendahara@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 134
                          name: 'Neny Oktafiah'
                          email: neny@mpad.online
                          nik: '198010022005022006'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 136
                          name: aan
                          email: aan@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 137
                          name: SYAMSIR
                          email: syamsir@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 138
                          name: 'LA MUZI'
                          email: muzi@mpad.online
                          nik: '19810818201001102'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 139
                          name: inspektorat
                          email: inspektorat@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 140
                          name: Staff
                          email: perizinan@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 141
                          name: Perizinan
                          email: staff@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 142
                          name: megayanti
                          email: megayanti@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 143
                          name: 'muh. ihsan aris'
                          email: muhihsanaris@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 144
                          name: RATNAKARMAN
                          email: ratnakarman@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 145
                          name: Swarti
                          email: suwarti@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 146
                          name: GALANG
                          email: galang@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 147
                          name: nuragustina
                          email: nuragustina@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 148
                          name: Irmawati
                          email: irmawati@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 149
                          name: 'Asni Yulinar S'
                          email: asniyulinars@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 150
                          name: 'Ika Juniarsih'
                          email: ikajuniarsih@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: '-5.46993017'
                          longitude: '122.63201904'
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-10T18:17:35.000000Z'
                        -
                          id: 151
                          name: 'syamsir pelayanan'
                          email: doangsyamsir@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 152
                          name: riska
                          email: riska@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 153
                          name: 'NURNANINGSIH, SE'
                          email: 'nurnaningsih, se@mpad.online'
                          nik: '197795022003122011'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 154
                          name: SALMATIA
                          email: salmatia@mpad.online
                          nik: '19810814201001202'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 155
                          name: PELAYANAN
                          email: pelayanan@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 156
                          name: FAUZIAH
                          email: fauziah@mpad.online
                          nik: '19760419200803200'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 157
                          name: 'ARNI NADIMIN, S.Sos'
                          email: arninadimin@mpad.online
                          nik: '19730303199303201'
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 158
                          name: IKHSAN
                          email: ikhsanicang@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 159
                          name: 'ika juniarsih'
                          email: doangikajuniarsih@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
                          status: active
                          metadata: null
                          email_verified_at: null
                          created_at: '2026-04-09T08:10:49.000000Z'
                          updated_at: '2026-04-09T08:10:49.000000Z'
                        -
                          id: 160
                          name: NURFAJRIAH
                          email: nurfajriah@mpad.online
                          nik: null
                          role: petugas
                          phone: null
                          address: null
                          opd_id: 5
                          latitude: null
                          longitude: null
[...]
