spawn ssh -o StrictHostKeyChecking=no sipanda@157.10.252.74
sipanda@157.10.252.74's password: 
Welcome to Ubuntu 22.04.5 LTS (GNU/Linux 5.15.0-164-generic x86_64)

 * Panduan:  https://idcloudhost.com/panduan
 -------------------------------------------
 * Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage

 System information as of Wed Mar  4 09:43:59 UTC 2026

  System load:  1.0                Processes:             126
  Usage of /:   48.6% of 19.20GB   Users logged in:       0
  Memory usage: 35%                IPv4 address for ens3: 10.48.77.206
  Swap usage:   0%

 * Strictly confined Kubernetes makes edge and IoT secure. Learn how MicroK8s
   just raised the bar for easy, resilient and secure K8s cluster deployment.

   https://ubuntu.com/engage/secure-kubernetes-at-the-edge

Expanded Security Maintenance for Applications is not enabled.

11 updates can be applied immediately.
To see these additional updates run: apt list --upgradable

18 additional security updates can be applied with ESM Apps.
Learn more about enabling ESM Apps service at https://ubuntu.com/esm


The list of available updates is more than a week old.
To check for new updates run: sudo apt update

*** System restart required ***
Last login: Tue Apr 14 04:10:25 2026 from 180.251.145.115
-bash: /usr/lib/command-not-found: /usr/bin/python3: bad interpreter: No such file or directory
sipanda@sipanda:~$ < -l /home/sipanda/retribusi-api/resources/views/pdf
total 4
drwxrwxr-x 2 sipanda www-data 4096 Mar 15 16:13 icons
total 64
-rw-rw-r-- 1 sipanda sipanda 3744 Mar 16 05:17 lkok.blade.php
-rw-rw-r-- 1 sipanda sipanda 4140 Mar 12 20:17 skrd.blade.php
-rw-rw-r-- 1 sipanda sipanda 3699 Mar 16 05:17 skt.blade.php
-rw-rw-r-- 1 sipanda sipanda 4453 Mar 16 05:17 spmp.blade.php
-rw-rw-r-- 1 sipanda sipanda 2835 Feb 25 21:21 spp.blade.php
-rw-rw-r-- 1 sipanda sipanda 6809 Feb 25 21:21 sppt.blade.php
-rw-rw-r-- 1 sipanda sipanda 4862 Feb 25 21:21 sspd.blade.php
-rw-rw-r-- 1 sipanda sipanda 4096 Mar 16 05:17 ssrd.blade.php
-rw-rw-r-- 1 sipanda sipanda 3589 Mar 16 05:17 strd.blade.php
-rw-rw-r-- 1 sipanda sipanda 5348 Mar 16 05:17 teguran.blade.php
-rw-rw-r-- 1 sipanda sipanda 3724 Mar 16 05:17 teguran_sptpd.blade.php
sipanda@sipanda:~$ <_reset.sh --validate-only || echo 'Fail-safe valid'
bash: /home/sipanda/retribusi-api/testing/vps_master_nginx_reset.sh: No such file or directory
Fail-safe valid
sipanda@sipanda:~$ exit
logout
Connection to 157.10.252.74 closed.
